<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>O mne</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>O mne</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <b><b><i>Volám sa Rudolf Kendra, študoval som na Žilinskej univerzite v Žiline. </i></b>
                <br>
                <br>
        Od apríla 2022 sa vo svojom voľnom čase venujem samo učeniu programovacieho jazyka JAVA.
        Následne od augusta 2022 do januára 2023 som absolvoval samo kurzy na stránke skillmea.sk, z ktorých som
        získal veľa hodnotných znalostí a zručností. Kurzy ako Java začiatočník, Java pokročilý, OOP, jazyk SQL
        a Spring boot. Všetko som si to chcel ešte poriadne ujasniť a preto som sa rozhodol prihlásiť na kurz Java
        developer, ktorý som začal v marci 2023 a úspešne ukončil v júny 2023, kde som si všetko
        skompletizoval vďaka môjmu lektorovi.
                <br>
        Na kurze sme znova prešli základy jazyku Java 17 a následne pokročilé veci Javy. Jazyk SQL, konkrétne MySQL
        a samozrejme našou náplňou boli projekty, na ktorých sme sa veľa naučili, k tomu sme okrem Javy využívali Maven, Spring boot, Hibernate atď.</b>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <br>
            <br>
            <a href="/">Prejdi na hlavnú stránku</a>
        </div>
    </nav>
</div>
</body>
</html>